html{
    /* background-image: url(../public/images/back.jpg)!important; */
    /* background-repeat: repeat;
    background-size: cover;
    width:100%;
     */
     -webkit-overflow-scrolling: touch;
     background-color: rgb(87, 126, 255);
     height: 100vh;
     width: 100%;
     
}


